<!--from /components/app_home/template.html-->
<section class="container">
    <div class="jumbotron hero-img" :style="{backgroundImage: 'url(' + imgURL + ')'}"></div>
    <div class="row">
        <section class="col-md-6">
            <h2 class="text-center">Services</h2>
            <p>
                Lorem ipsum dolor sit amet, suspendisse elit nonummy adipiscing
                cras quam tristique, vel sit mollis et et porta, fermentum
                tristique nec ligula. Sodales at amet morbi a a tempus, unde
                pharetra adipiscing sit arcu tortor sollicitudin.
                Nulla mi id fusce justo, magna tempor diam non ac elit pede,
                mollis vel volutpat, ac enim at blandit dui lacus. Sed amet
                donec wisi, sit cras quis potenti in nec, sociosqu pellentesque
                a. Mauris maecenas sapien pede in, mauris tellus aenean
                suspendisse at, libero vitae sit tempor praesent, mauris eu a.
            </p>
            <router-link :to="{name: 'services'}" type="button" class="btn btn-primary btn-default pull-right">
                Learn More...
            </router-link>
        </section>
        <section class="col-md-6 trigger">
            <h2 class="text-center">About Us</h2>
            <p>
                Lorem ipsum dolor sit amet, suspendisse elit nonummy adipiscing
                cras quam tristique, vel sit mollis et et porta, fermentum
                tristique nec ligula. Sodales at amet morbi a a tempus, unde
                pharetra adipiscing sit arcu tortor sollicitudin.
                Nulla mi id fusce justo, magna tempor diam non ac elit pede,
                mollis vel volutpat, ac enim at blandit dui lacus. Sed amet
                donec wisi, sit cras quis potenti in nec, sociosqu pellentesque
                a. Mauris maecenas sapien pede in, mauris tellus aenean
                suspendisse at, libero vitae sit tempor praesent, mauris eu a.
            </p>
            <router-link :to="{name: 'about'}" type="button" class="btn btn-primary btn-default pull-right">
                Learn More...
            </router-link>
        </section>
    </div>
</section>
